.masthead-image {
  background-image: url(../images/cali-sun-bg.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.title-text {
  text-shadow: 5px 5px 10px black;
}

.ui.vertical.stripe {
  padding: 2em 0em !important;
}

footer {
  text-align: center;
  font-size: 1.1em;
  color: #ffffff;
}

@media only screen and (min-width: 700px) {
  .main-menu {
    background: #000000 !important;
  }
}

@media only screen and (max-width: 700px) {
  .ui.secondary.inverted.pointing.menu {
    border-width: 0px !important;
  }

  .ui.menu .item {
    line-height: 4 !important;
  }

  .ui.table:not(.unstackable) td:first-child,
  .ui.table:not(.unstackable) th:first-child {
    font-weight: 100 !important;
  }
}
