.masthead-image {
  background-image: url(../images/beach.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.sp-text-resume {
}

.sp-resume-content {
}

@media only screen and (min-width: 700px) {
  .main-menu {
    background: #000000 !important;
  }
}

@media only screen and (max-width: 700px) {
  .ui.secondary.inverted.pointing.menu {
    border-width: 0px !important;
  }

  .ui.menu .item {
    line-height: 4 !important;
  }
}
